<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WishListFreak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web-based application for creating wishlists">
</head>
<div class="logoheader">
    <img src="/imgs/logo.png" alt="Logo" class="logoFrontpage">
</div>

<body>
<div class="signup/login">
    <a href="signUp.html" class="button">
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">Sign Up</span>
        <div class="button__drow1"></div>
        <div class="button__drow2"></div>
    </a>
    <br>
    <a href="login.html" class="button">
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">Log In</span>
        <div class="button__drow1"></div>
        <div class="button__drow2"></div>
    </a>

</div>
</body>

<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
        height: 800px;
        background: linear-gradient(to bottom, #ffffff 20%, #cac6f7 100%);
    }

    .logoheader{
        display: flex;
        justify-content: center;
    }
    .logoFrontpage {
        width: 60%;
    }

</style>
</html>