<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="Stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web-based application for creating wishlists">
</head>
<div class ="header">
    <a href ="frontPage.html" class="logo"> INSERT LOGO </a>
    <div class="header-right">
        <a href="signUp.html">Sign up</a>
        <a href="login.html">Login</a>
    </div>
</div>
<body>

</body>
</html>