<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WishListFreak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web-based application for creating wishlists">
</head>

<div class ="logoheader">
            <img src="/imgs/logo.png" alt="Logo" class="logologin">
</div>

<body>
<div class="SignInForm">
    <form action="/login" method="post">
        <p>E-mail* <input type ="text" name="email"></p>
        <p>Password* <input type ="password" name="password"></p>
        <p> * required fields</p>
        <p><input type="submit" value="Sign In" />
    </form>
</div>
</body>

<style>
    .logoheader{
        display: flex;
        justify-content: center;
        background: transparent;
    }
    .logologin{
        width: 50%;
    }

    .SignInForm{
        display: flex;
        justify-content: center;
    }
</style>
</html>