<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WishListFreak</title>
    <link rel="stylesheet" type="text/css" href="Stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web-based application for creating wishlists">
</head>
<div class ="header">
    <div class="header-left">
        <a href ="frontPage.html">
            <img src="/logo.png" alt="Logo" class="logoresponsive"></a>
    </div>
</div>

<body>
<div class ="signuptext-center">
        <h1> Sign up as a wish list freak!</h1>
</div>

<div class="SignUpForm">
    <form action ="#" th:action="@{/signup}" th:object="${user}" method="post">
        <p>First name* <input type ="text" th:field="*{firstName}"></p>
        <p>Last name* <input type ="text" th:field="*{lastName}"></p>
        <p>E-mail* <input type ="text" th:field="*{email}"></p>
        <p>Password* <input type ="text" th:field="*{password}"></p>
        <p>* required fields</p>
        <p><button type="submit" value="Sign Up"></p>
    </form>
</div>


</body>
</html>