<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WishListFreak</title>
    <link rel="stylesheet" type="text/css" href="Stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web-based application for creating wishlists">
</head>
<div class ="header">
    <div class="header-left">
        <a href ="frontPage.html">
            <img src="/logo.png" alt="Logo" class="logoresponsive"></a>
    </div>
</div>
<body>



</body>
</html>