<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WishListFreak</title>
  <link rel="stylesheet" type="text/css" href="../static/css/Stylesheet.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Web-based application for creating wishlists">
</head>
<div class ="logoheader">
      <img src="/imgs/logo.png" alt="Logo" class="logosignupsucces">

</div>

<body>
<div class ="signupsucces-center">
  <h1> You have succesfully signed up!</h1>
  <h1>Please login to begin creating your wish-lists</h1>
</div>


</body>

<style>
  .logoheader{
    display: flex;
    justify-content: center;
  }
  .logosignupsucces {
    width: 50%;
  }
  .loginbutton{
    display: flex;
    justify-content: center;
  }
  .signupbutton{
    display: flex;
    justify-content: center;

  }


</style>

</html>