<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Page - wishlistfreak</title>
</head>
<div class="logoheader">
    <img src="/imgs/logo.png" alt="Logo" class="logowishlistpage">
</div>

<body>

<button class="open-button" onclick="openForm()">Open Form</button>

<div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
        <h1>Login</h1>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit" class="btn">Login</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
</div>


</body>



<style>
    .logoheader{
        display: flex;
        justify-content: center;
    }
    .logowishlistpage {
        width: 50%;
    }



</style>
</html>